.hh-mm-ss{
    font-size: 25px;
    /* margin-top: 50px; */
    margin-left: 70px;
    color: white;
    padding: 10px 15px 10px 15px ;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;

}

.yy-mm-dd{
    font-size: 18px;
    /* margin-top: 10px; */
    margin-left: 70px;
    color: white;
    padding: 10px 15px 10px 15px ;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
}