
.hh-mm-ss{
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

.yy-mm-dd{
    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    margin-top: 0;
}

.welcome{
    margin-bottom: 0;
    color: white;
    font-size: 30px;
}