.layout{
    height: 100vh;
    position:relative
}
.header {
  /* Add your styles here */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.main-content {
  /* Add your styles here */
    /* margin-top: 50px; */
    display: grid;
    grid-template-columns: 1fr;
    /* height: 100%;
    width: 100%; */
    margin-left: 0px;
}

.side-bar{
    margin: 0;
    padding: 0;
    position: absolute; 
    z-index: 200;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

@media screen and (max-width: 540px) {
    .side-bar{
        display: none;
    }
    .main-body {
        /* Add your styles here */
          margin-top: 50px;
          /* display: grid;
          grid-template-columns: 1fr; */
          height: 100%;
      }
      .main-content{
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .main-body {
        /* Add your styles here */
          margin-top: 50px;
          display: grid;
          grid-template-columns: 1fr ;
          height: 100%;
          width: 100%;
      }

    .main-content{
        margin-left: 0px;
    }
}

