.layout{
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    position:relative;
    background-image: url('../../../public/images/table\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

#header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin-left: 0;
}

main{
    z-index: 1;
    padding-bottom: 60px;
}

.footer{
    margin-top: 20px;
    /* bottom:-300px; */
    width: 100%;
    bottom: 0;
    height: max-content;
}

.main-body{
    flex: 1;
    height: 100%;
    width: 100%;
}

.main-content {
    /* margin-top: 50px; */
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
}

.side-bar{
    margin: 0;
    padding: 0;
    position: absolute; 
    z-index: 200;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}


@media screen and (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .main-body {
        /* Add your styles here */
          margin-top: 50px;
          display: grid;
          grid-template-columns: 1fr ;
          height: 100%;
          width: 100%;
      }

    .main-content{
        margin-left: 0px;
        /* margin-top: 250px; */
    }
    .layout{
        background-position: center;
        background-repeat: repeat-y;
    }
    #header{
        display:block
    }
}

@media screen and (max-width: 480px) {
    .side-bar{
        display: none;
    }
      .main-content{
        margin-left: 0px;
    }
    .layout{
        background-position: center;
        background-repeat: repeat-y;
    }
}
