.home-main {
    margin: 5px;
    height: 100%;
}

.homepage-header{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-left: 110px;
    position: relative;
}

.homepage-header h4 {
    box-shadow: inset;
    color: white;
    font-size: 40px;
    padding: 10px 15px 0px 15px ;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

.homepage-main {
    margin-top: 30px;
}

.homepage-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    padding: 0;
}

@media screen and (max-width: 1028px) {
    .homepage-body {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .homepage-body {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 0 0 0;
        height: fit-content;
    }
}

@media screen and (max-width: 640px) {
    .homepage-body {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 0 0 0;
    }
}

.homepage-body > div {
    padding: 10px;
    margin: 0 50px;
    /* border: 1px solid #f2f2f2; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    border-radius: 5px;
}

.homepage-body > div:hover {
    transition: all 0.5s ease;
}

/*  ----------- ---------------- */

.homepage-title{
    color: white;
    margin-top: 0;
    padding: 0;
}

.homepage-text-box{
    
    overflow: scroll;
    background-color: black;
    opacity: 80%;
    height: fit-content;
    border: solid white;
    box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.5 ease-in;
}

.homepage-title h2 {
    margin: 5px; /* Remove or reduce the top margin */
    /* Other styling properties */
    font-family: monospace;
    opacity: 100%;
}

.homepage-about{
    color: #26fa05 ;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
    text-align: justify;
    /* margin: 0px; */
    font-size: 14px;
    padding: 5px;
 }

.homepage-my-skills{
    color: white;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
}

.my-skills-title h2{
    margin: 10px 0 0 10px; /* Remove or reduce the top margin */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.homepage-my-skills h2{
    margin-top: 0; /* Remove or reduce the top margin */
    font-family: monospace;
    opacity: 100%;
    
}

.my-skills-text-box1{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    /* padding: 0;
    margin: 0; */
}

.my-skills-text-box2{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    /* padding: 0px 10px; */
}

.skills-child{
    padding-left:  10px;
    padding-right: 10px;
}

.skills-child p{
    font-weight: 700;
}

.skills-child ul{
    padding-left: 20px;
    padding-right: 0;
}

.skills-child ul li {
    margin-top: 10px;
    font-family: monospace;
}