@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.portfolio-body{
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 10px; */
    margin-top: 40px;
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .portfolio-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        margin-left: 60px;
    }
}

@media screen and (min-width: 1025px) {
    .portfolio-body {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        margin-top: 40px;
        margin-left: 60px;
    }
}


