.navbar {
    padding: 0 20px;
    height: 52px;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
    background-color: white;
}

.navbar-title{
    display: flex;
    /* padding-left: 10px; */
    padding-right: 10px;
}

.navbar-title:hover p {
    rotate: 0deg;
    transition: all 0.5s ease;
    transform: scale(1.5);
    /* padding: 0; */
    width: fit-content;
}


.navbar-title p {
    margin-left: 10px;
    font-weight: bold;
    rotate: 15deg;
}

.navbar-items{
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    font-weight: bold;
}

.navbar-items a.active {
    color: #4477CE;
  }

.navbar-item {
   margin: 0 30px;
   padding: 10px 10px;
   white-space: nowrap;
}

.sidebar-icon{
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    box-shadow: inset;
}
.sidebar-icon:hover{
    background-color: antiquewhite;
}
@media screen and (max-width: 540px) {
    .navbar-item {
        display: none;
        transition: all 0.5s ease;
    }
    .sidebar-icon {
        display: block;
        height: 30px;
        width: 30px;
        transition: all 0.5s ease;
        align-items: end;
    }
}

@media screen and (max-width: 768px) {
    .navbar-item {
        padding: 5px 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-item {
        padding: 5px 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;
    }
}

.navbar-item:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}

.sidebar-icon {
    /* display: none; */
    transition: all 0.5s ease;
    display: inline-block;

}

