.navbar {
    padding: 0 20px;
    height: 52px;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top:0;
    left: 0;
    margin-left: 0;
    background-color: #000000;
    position: relative;
}

.navbar-title{
    display: flex;
    padding-right: 10px;
    color: white;
    width: 80px;
}

.navbar-title:hover p {
    rotate: 0deg;
    transition: all 0.5s ease;
    transform: scale(1.6);
    width: fit-content;
    padding-right: 30px;
}

.navbar-title p {
    margin-left: 10px;
    font-weight: bold;
    rotate: 15deg;
}

.navbar-items{
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    font-weight: bold;
    font-size: 12px;
    /* position: absolute; */
    /* margin-left: 400px; */
}

.navbar-items a {
    color: white;
}

.navbar-items a.active {
    color: #79E0EE;;
  }

.navbar-item {
   margin: 0 30px;
   padding: 10px 10px;
   white-space: nowrap;
}

.navbar-button{
    cursor: pointer;
    box-shadow: inset;
}

#navbar-dropdown{
    position: relative;
}

#navbar-dropdown button{
    padding: 5px 10px;
}
#navbar-button{
    background-color: black;
    border-radius: 5px;
    border: solid 1px white;
}
#navbar-button:active{
    transform: scale(1.03);
}

#navbar-dropdown:hover .navbar-title p {
    rotate: 0deg;
    transition: all 0.5s ease;
    transform: scale(1.6);
    width: fit-content;
    padding-right: 30px;
}

#navbar-dropdown-menu{
    background-color: black;
    opacity: 0.8;
    border: solid 1px;
    position: absolute;
    right: 0; /* Align the menu to the right side of the navbar-dropdown */
    top: 100%; /* Position the dropdown right below the button */
    width: 250px; /* Adjust as needed */
    border-radius: 5px;
    box-sizing: border-box;
}

#navbar-dropdown-list{
    list-style: none;
    padding:5px;
    margin: 0;
    text-align: left;
}

#navbar-dropdown-list li {
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 5px;
}
#navbar-dropdown-list .navbar-list:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .navbar-item {
        padding: 5px 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 768px) {
    .navbar-item {
        padding: 5px 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 540px) {
    .navbar-item {
        display: none;
        transition: all 0.5s ease;
    }
    .sidebar-icon {
        display: block;
        height: 30px;
        width: 30px;
        transition: all 0.5s ease;
        align-items: end;
    }
}




.navbar-item:hover {
    /* background-color: #f2f2f2; */
    border-radius: 5px;
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}

.sidebar-icon {
    transition: all 0.5s ease;

}

.navbar-icon{
    width: 40px;
    height: 40px;
}

