.sidebar-main {
    margin: 0;
    padding-top:30px;
    padding-left:  5px; 
    padding-right:  5px;  
    padding-bottom: 20px; 
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    /* margin-top: 50px; */
    /* margin-top: 2px; */
    width: 50px;
    position: fixed;
    background-color: #161A30;
    /* opacity: 80%; */
    /* opacity: 40%; */
}

.sidebar-main:hover {
    width: 100px;
    transition: all 0.2s ease;
    overflow: hidden;
}

.sidebar-main:hover .sidebar-item{
    rotate: 30deg;
    font-weight: bold;
    width: 200px;
    transform: translate(-15%, 30%);
    padding-left: 30px;
}

.sidebar-main:hover .sidebar-item p {
    overflow: visible;
    transition: all 0.2s ease;
    display: block;
}

.sidebar-main:hover ~ .myName {
    display: flex;
    transition: all 0.5s ease;
    color: white;
}

.sidebar-item {
    padding: 10px 0px;
    margin: 6px 0px;
    /* border-radius: 5px; */
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: start;
    height: 30px;
    align-items: center;
    font-weight: bold;
}

.sidebar-item:hover {
    transition: all 0.2s ease;
    background-color: aliceblue;
    opacity: 100%;
    color: black;
}

.sidebar-item {
    position: relative;
    overflow: hidden; 
    /* Essential to contain the rotated ::after within the sidebar-item */
    /* ... rest of your styles ... */
}

.sidebar-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}

.sidebar-icon{
   margin: 10px;
}

.sidebar-item p {
    /* width: 0; */
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    justify-content: center;
    vertical-align: middle;
    font-size: 12px;
    display: none;
    white-space: nowrap;
}

.sidebar-item:hover > div {
    transform: scale(1.2);
}

.sidebar-item:hover p {
    display: block;
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    /* box-shadow:  0 0 10px #000000; */
    transition: all 0.2s ease;
    /* background-color: #f2f2f2; */
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .navbar-items li {
        display: none;
        transition: all 0.5s ease;
    }
}

.sidebar-main a {
    /* color: #79E0EE; */
    color: #FFF6E9;
}
.sidebar-main a.active {
    color: white;
    font-size: 30px;
  }
  