.sidebar-main {
    padding:10px 5px;   
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.1);
    /* height: 100%; */
    margin-top: 2px;
    width: 80px;
}

.sidebar-main:hover {
    width: 130px;
    transition: all 0.2s ease;
}

.sidebar-main:hover .sidebar-item p {
    overflow: visible;
    transition: all 0.5s ease;
}

.sidebar-main:hover .myName p {
    rotate: 0deg;
    transition: all 0.5s ease;
    transform: scale(1.5);
}
/* 
.sidebar-main:hover .myName {
    transition: all 0.5s ease;
    display: flex;
} */

.sidebar-item {
    padding: 10px 10px;
    margin: 20px 3px;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 30px;
}

.sidebar-item:hover {
    transition: all 1s ease;
}

.sidebar-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}

.sidebar-icon{
   margin: 10px;
}

.sidebar-item p {
    width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    justify-content: center;
    vertical-align: middle;
}

.sidebar-item:hover > div {
    transform: scale(1.1);
}

.sidebar-item:hover p {
    display: block;
    transition: all 0.5s ease;
}


.sidebar-item:hover {
    /* box-shadow:  0 0 10px #000000; */
    transition: all 0.3s ease;
    background-color: #f2f2f2;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .navbar-items li {
        display: none;
        transition: all 0.5s ease;
    }
}

.myName{
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.myName p{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    rotate: 20deg;
    padding: 3px;
}