.modal-body {
    position: absolute;
    /* opacity: 95%; */
    width: 94%;
    height: 90%;
    /* margin-left: 50px; */
    /* border-radius: 5px; */
    box-shadow: 0 2px 10px 0 rgba(10, 9, 9, 0.1);
    margin-top: -30px;
    transition: all 0.6s ease;
    background-color: rgb(238, 238, 238);
    border: solid 5px rgb(171, 171, 171);
    padding: 5px;
    background-clip: padding-box;
    overflow:hidden;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal-body.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}


.modal-header{
    display: flex;
}

.modal-name {
    margin: 0px 50px;
    padding: 2px 50px;
    font-size: 20px;
}

.close-button {
    width: 25px;
    /* border-radius: 5px; */
    margin: 6px 4px;
    /* background-color: white; */
    opacity: 90%;
    box-shadow: 0 0 0 0;
    
}
.close-button:active {
    transform: scale(1.1);
    transition: all 0.4s ease;
    background-color: rgba(10, 9, 9, 0.1)
}
.close-button:hover{
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .modal-body {
        
        width: 97%;
        margin-top: 210px;
        height: 98%;

        /* margin-right: 0px; */
    }
}

@media screen and (max-width: 768px) {
    .modal-body {
        width: 95%;
        margin-top: 210px;
        height: 98%;

    }
}

.modal-children {
    padding: 2px;
}
