@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.footer-content{
    background-color: #FFF6E9;
    height: 200px;
    display: grid;
    padding: 0 0 10px 60px;
    grid-template-columns: 1fr 2fr 2fr;
    border-top: solid 5px white;
}

@media screen and (max-width: 480px){
  .footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.separator {
    width: 1px;
    height: 50px;
    background-color: black;
}

.footer-column:not(:last-child) {
    border-right: 2px solid #ccc;
}

.footer-column{
    padding-top: 0;
    margin-top: 0;
    padding: 0px 30px 10px 30px;
    font-family: 'Ubuntu';
}
