.business-card{
    box-shadow: 0 2px 2px 0 ;
    /* border-radius: 5px; */
    padding: 15px;
    background-color:#F5F5F5;
    transform: translate(1%, 8%);
    width:430px;
    height:250px;
    box-shadow: 5px 5px;
    margin: 0;
}

.card-body{
    display: flex;
    justify-content: center;
    height: 100%;
}

.card-left{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-self: center;
    padding: 0px 20px;
    height: 100%;
}
.vertical-line{
    width: 1px;
    background-color: black;
    /* position: absolute; */
}
.card-right{
    padding: 20px 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-self: center;
}

.address{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}


/* .business-card:hover{
    rotate: 0deg;
    transform: translate(1%, 8%);
    transition: all 0.4s ease;
} */

.card-body{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width:640px) {
    .business-card{
        margin-left: -20px;
    }
}

@media screen and (max-width:768px) {
    .business-card{
        margin-left: 0px;
        padding: 15px;
    }
}

#name{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#job {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}