#backgroundSlider-page{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
    margin: 0;
    background-color: #8e44ad;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s ease;
    /* filter: blur(10px); */
}
#backgroundSlider-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    filter: blur(100px);
}


.backgroundSlider-container{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 30vh;
    width: 70vw;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}


.background-slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
    background-color: white;
}

.background-slide.bgSlide-active{
    opacity: 1;
}

.backgroundSlider-arrow{
    position: absolute;
    background-color: transparent;
    padding: 10px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform:translateY(-50%);
    z-index: 200;
    cursor: pointer;
    color: white;

}

.backgroundSlider-arrow:focus{
    outline: none;
}

.bgLeft-arrow{
    left: calc(7vw - 65px);
}

.bgRight-arrow{
    right: calc(7vw - 65px);
}

@media screen and (max-width: 425px) {
    .bgLeft-arrow{
        left: calc(10vw - 65px);
    }
    
    .bgRight-arrow{
        right: calc(10vw - 65px);
    }
}