.button-ripple-body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.button-ripple-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ripple-demo-button{
    padding: 20px 100px;
    font-size: 25px;
    background-color: rgb(128, 236, 200);
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ripple-demo-button-circle{
    position:absolute;
    background-color: white;
    opacity: 0.9;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%,-50%) scale(3);
    }
}

.ripple-demo-button:active{
    transform: scale(0.98);
}